<?xml version="1.0"?>
<launch>

		<param name="robot_description" textfile="$(find gpar_lidar)/urdf/bulk_dual_lidar_profiler_high_4m.xml" />


		<node pkg="gpar_lidar" type="lasertopc2" name="lasertopc2_top1" output="screen" >
				<param name="angle_bound" type="double" value="0" />
				<param name="scan_topic" type="string" value="laser_scan_top1" />
				<param name="output_cloud" type="string" value="cloud_top1" />
				<param name="cloud_frame" type="string" value="lidar_top1" />
		</node>

		<node pkg="gpar_lidar" type="lasertopc2" name="lasertopc2_top2" output="screen" >
				<param name="angle_bound" type="double" value="0" />
				<param name="scan_topic" type="string" value="laser_scan_top2" />
				<param name="output_cloud" type="string" value="cloud_top2" />
				<param name="cloud_frame" type="string" value="lidar_top2" />
		</node>

		<!-- lidar longitudial para estimacao da posicao -->
		<node pkg="gpar_lidar" type="lasertopc2" name="lasertopc2_profiler" output="screen" >
				<param name="angle_bound" type="double" value="0" />
				<param name="scan_topic" type="string" value="laser_scan_profiler" />
				<param name="output_cloud" type="string" value="cloud_profiler" />
				<param name="cloud_frame" type="string" value="lidar_profiler" />
		</node>

		<!-- aqui so serve pra determinar os limites do merge -->
		<!-- Este node sera responsavel por processar o movimento do objeto -->
		<!-- Se inscreve na nuvem 'cloud_profiler' -->
		<!--
		<node pkg="gpar_lidar" type="bulk_scan_profiler" name="bulk_scan_profiler" output="screen" >
				<param name="x_min" value="-0.8" />
				<param name="x_max" value="0.8" />
				<param name="lidar_height" value="4" />
		</node>
			-->

		<!-- Este node realiza as transformadas para reconstrucao 3D -->
		<!-- Recebe comandos para automacao do merge via topico -->
		<node pkg="gpar_lidar" type="bulk_scan" name="bulk_scan" output="screen" >
				<param name="obj_frame" type="string" value="Shape" /> <!-- variar aqui! -->
		</node>

		<node pkg="rviz" type="rviz" name="rviz" args="-d $(find gpar_lidar)/rviz/coppelia_bulk3.rviz"  />

		<node pkg="tf2_ros" type="static_transform_publisher" name="lidar_map" args="0 0 0 0 0 0 map base_link" /> 

		<node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />

		<node pkg="gpar_lidar" type="cloudtofile" name="cloudtofile" output="screen" >
				<remap from="cloud" to="cloud_merged" />
		</node>

</launch>

