<?xml version="1.0"?>
<launch>

		<!-- this file, by default, creates a TF map-> IMU with orientation estimation -->
		<include file="$(find gpar_kalman)/launch/k64f_imu_norviz.launch" />

		<!-- thus, we create a new tranform that connects the lidar and the IMU -->
		<node pkg="tf2_ros" name="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 imu cloud" />

   <node pkg="gpar_lidar" type="hokuyo_cloud" name="hokuyo_cloud" output="screen" >
   <param name="scan_topic" type="string" value="scan" />
   <param name="input_cloud" type="string" value="cloud" />
   </node>


   <node pkg="urg_node" type="urg_node" name="urg_node" output="screen" >
	   <param name="serial_port" type="string" value="/dev/ttyACM0" />
   </node>


  <node name="cloud_controller" pkg="gpar_lidar" type="cloud_controller_lms" output="screen">
    <param name="input_cloud" type="str" value="cloud" />
   </node>

      <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find gpar_lidar)/rviz/cloud.rviz" /> 

</launch>

