<?xml version="1.0"?>
<launch>


  <node pkg="tf2_ros" type="static_transform_publisher" name="static_ldmrs_imu_link" args="0 0 0 0 0 0 imu ldmrs_mount_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="static_ldmrs_link" args="0.044 0.02325 0 0 0 0 ldmrs_mount_link ldmrs" />


  <node pkg="mcuserial" type="mcuserial_node" name="mcuserial_node" >
   	<param name="serial_port" type="string" value="/dev/ttyACM0"/>
   </node>

  <node pkg="gpar_k64f" type="gpar_k64f_node" name="imu_k64f_node" output="screen" >
	<param name="k64f_frame" type="string" value="imu"/>
  </node>


  <!-- start the actual driver node -->
  <node name="sick_ldmrs_node" pkg="sick_ldmrs_driver" type="sick_ldmrs_node" output="screen">
    <param name="hostname" type="str" value="192.168.0.2" />
    <!-- change frequency to 12.5 Hz so that the scanner outputs object tracking results -->
    <param name="scan_frequency" type="int" value="0" /> 
  <!--  <param name="angular_resolution_type" type="int" value="1" />  
    <param name="contour_point_density" type="int" value="2" /> 
    <param name="sensitivity_control" type="bool" value="True" />

 
    <param name="flexres_resolution1" type="int" value="4" />
    <param name="flexres_start_angle1" type="double" value="-1.0" />
    <param name="flexres_start_angle2" type="double" value="-0.90" />
    <param name="flexres_start_angle3" type="double" value="-0.80" />
    <param name="flexres_start_angle4" type="double" value="-0.70" />
    <param name="flexres_start_angle5" type="double" value="-0.60" />
    <param name="flexres_start_angle6" type="double" value="-0.50" />
    <param name="flexres_start_angle7" type="double" value="-0.40" />
    <param name="flexres_start_angle8" type="double" value="-0.3" /> -->

  </node>

  <node name="cloud_controller" pkg="gpar_lidar" type="cloud_controller" output="screen">
    <param name="input_cloud" type="str" value="cloud_ldmrs" />
   </node>

</launch>

