<?xml version="1.0"?>
<launch>
<node pkg="gpar_lidar" type="cloudtofile" name="meh" output="screen" >
   <param name="sub_topic" type="string" value="testes"/>
   </node>


<!--
 <node pkg="rosbag" type="record" name="rosbag_record_scan"
	 args="-o /home/marcus/drone_scan /cloud /tf /tf_static" />
-->


</launch>
