<?xml version="1.0"?>
<launch>

	<!-- This program converts and IMU string from serial port to ros messages -->

		<!-- reads serial port of MCU -->
<node pkg="gpar_mcuserial" type="mcuserial_node" name="mcuserial_node" >
   <param name="serial_port" type="string" value="/dev/ttyACM0"/>
   </node>


	<!-- get output of serial comm and generates IMU msg -->
   <node pkg="gpar_k64f" type="k64f_imu" name="k64f_imu" output="screen" />



</launch>
