<?xml version="1.0"?>
<launch>

		<!-- reads serial port of MCU -->
<node pkg="gpar_mcuserial" type="mcuserial_node" name="mcuserial_node" >
   <param name="serial_port" type="string" value="/dev/ttyACM1"/>
   </node>


	<!-- get output of serial comm and generates IMU msg -->
   <node pkg="gpar_k64f" type="k64f_imu" name="k64f_imu" output="screen" >
	   <remap from="k64f_imu/imu" to="imu" />
	   </node>



</launch>
